<div class="modal fade"
     id="structureModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="structureModalLabel"
     aria-hidden="true"
     data-backdrop="static">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="structureModalLabel">
          <%= t("structure.create.title") %>
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body" id="structure-modal-content">
      </div>
    </div>
  </div>
</div>