<% cache [example, api] do %>
  <div class="row p-2">
    <div class="col-4">
      <%= render partial: 'examples/show/example_card',
                 locals: { example: example,
                           api: api } %>
    </div>
    <div class="col-4">
      <%= render partial: 'examples/show/properties_card',
                 locals: { example: example,
                           sort: 'truth',
                           title: t('example.show.satisfied_properties'),
                           modifier: t('logic.is'),
                           hardcoded_facts: example.hardcoded_true_facts,
                           hardcoded_atoms: example.hardcoded_truths,
                           atoms_with_proof: satisfied_atoms_with_proof,
                           derived_facts: satisfied_atoms -
                                            example.hardcoded_truths } %>
    </div>
    <div class="col-4">
      <%= render partial: 'examples/show/properties_card',
                 locals: { example: example,
                           sort: 'falsehood',
                           title: t('example.show.violated_properties'),
                           modifier: t('logic.is_not'),
                           hardcoded_facts: example.hardcoded_false_facts,
                           hardcoded_atoms: example.hardcoded_falsehoods,
                           atoms_with_proof: violated_atoms_with_proof,
                           derived_facts: violated_atoms -
                                            example.hardcoded_falsehoods } %>
    </div>
  </div>
<% end %>
