<% slice.each do |hit| %>
  <h4>
  	<%= I18n.t("examples.find.description",
  						 default: 'Description') %>
	</h4>
  <p>
  	<%= link_to hit.description,
  							example_path(id: hit.id) %>
	</p>
<% end %>
