<% provide(:title, I18n.t('examples.find.title')) %>
<% unless @hits.blank? %>
  <h2>
    <%= I18n.t("examples.find.direct_hits",
               default: "Direct hits") %>
  </h2>
  <div class="row">
    <% @hits.each_slice(3).each do |slice| %>
      <div class="col-4">
        <%= render partial: 'examples/row_of_search_results',
                   locals: { slice: slice } %>
      </div>
    <% end %>
  </div>
<% end %>
<% unless (@almost_hits - @hits.to_a).blank? %>
  <h2>
    <%= I18n.t("examples.find.still_consistent",
               default: "Still consistent") %>
  </h2>
  <div class="row">
    <% (@almost_hits - @hits.to_a).each_slice(3).each do |slice| %>
      <div class="col-4">
        <%= render partial: 'row_of_search_results',
                   locals: { slice: slice } %>
      </div>
    <% end %>
  </div>
<% end %>
